<link rel="stylesheet" type="text/css" href="../css/master.scss">
<div class="container" style="width:100%; padding: 0;">
    <!-- TOOLBAR -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container" style="width:95%;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- <span class="navbar-brand" ><img src="../img/shiftLogo.png" alt="Shifts"></span> -->
            </div>

            <a class="navbar-brand" style="padding-bottom: 20px;"><img style="width: 110px" src="https://shift.com/static/images/shift-logo-fb-4-25-16.png"></a>
            <div id="navbar3" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="about"><span class="glyphicon glyphicon-info-sign" style="font-size:16px; color:#f5f5f5; white-space-treatment: 10px;"></span> אודות</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-phone" style="font-size:16px; color:#f5f5f5; white-space-treatment: 10px;"></span> צור קשר</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span> הגדרות</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="/"><span class="glyphicon glyphicon-home" style="font-size:16px; color:#f5f5f5; white-space-treatment: 10px;"></span> בית</a></li>
                    <li data-toggle="modal" data-target="#userModal"><a href="/"><span class="glyphicon glyphicon-log-in" style="font-size:16px; color:#f5f5f5; white-space-treatment: 0px;"></span>   התחבר/הרשם </a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>

    </nav>

    <!-- Large modal -->
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×</button>
                    <h4 class="modal-title" id="myModalLabel">
                        Login/Registration</h4>
                </div>
                <div class="modal-body">
                    <div class="row" id="tabLayoutRow">
                        <div class="col-md-8" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#Login" data-toggle="tab">Login</a></li>
                                <li><a href="#Registration" data-toggle="tab">Registration</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="Login">
                                    <form role="form" class="form-horizontal">
                                        <div class="form-group">
                                            <label for="loginEmail" class="col-sm-2 control-label">
                                                Email</label>
                                            <div class="col-sm-10">
                                                <input ng-model="loginEmail" type="email" class="form-control" id="loginEmail" placeholder="Email" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="loginPassword" class="col-sm-2 control-label">
                                                Password</label>
                                            <div class="col-sm-10">
                                                <input ng-model="loginPassword" type="password" class="form-control" id="loginPassword" placeholder="Password" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2">
                                            </div>
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary btn-sm">
                                                    Submit</button>
                                                <a href="javascript:;">Forgot your password?</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="Registration">
                                    <form role="form" class="form-horizontal">
                                        <div class="form-group">
                                            <label for="registerName" class="col-sm-2 control-label">Name</label>
                                            <div class="col-sm-10">
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <input ng-model="registerData.name" type="text" class="form-control" id="registerName" placeholder="Name" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="registerEmail" class="col-sm-2 control-label">Email</label>
                                            <div class="col-sm-10">
                                                <input ng-model="registerData.email" type="email" class="form-control" id="registerEmail" placeholder="Email" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="registerUsername" class="col-sm-2 control-label">Username</label>
                                            <div class="col-sm-10">
                                                <input ng-model="registerData.username" type="text" class="form-control" id="registerUsername" placeholder="Username" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="registerPassword" class="col-sm-2 control-label">
                                                Password</label>
                                            <div class="col-sm-10">
                                                <input ng-model="registerData.password" type="password" class="form-control" id="registerPassword" placeholder="Password" />
                                                <div class="progress-container">
                                                    <div class="progress progress-striped active">
                                                        <div id="passwordProgressBar" class="progress-bar progress-bar-success" style="width:0;"> <h5 class="progressBarText" id="passwordProgressBarText"></h5></div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="registerPasswordConfirmation" class="col-sm-2 control-label">Confirm Password</label>
                                            <div class="col-sm-10">
                                                <input ng-model="passwordConfirmation" type="password" class="form-control" id="registerPasswordConfirmation" placeholder="Confirm Password" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2">
                                            </div>
                                            <div class="col-sm-10">
                                                <button ng-click="register()" type="button" id="register" class="btn btn-primary btn-sm">Register</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="OR" class="hidden-xs">
                                OR</div>
                        </div>
                        <div class="col-md-4">
                            <div class="row text-center sign-with">
                                <div class="col-md-12">
                                    <h3>
                                        Sign in with</h3>
                                </div>
                                <div class="col-md-12">
                                    <div class="btn-group btn-group-justified">
                                        <a href="#" class="btn btn-primary">Facebook</a> <a href="#" class="btn btn-danger">
                                        Google</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script> -->
